body {
  background-color: #f2f2f2;
}

.search-container {
  margin: 20px;
  display: flex;
  justify-content: center;
}

input[type=text] {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  background-color: white;
  font-size: 16px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 90%;
}

button[type=submit] {
  background-color: #4285f4;
  border: none;
  color: white;
  padding: 14px 20px;
  margin-left: -5px;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button[type=submit]:hover {
  background-color: #357ae8;
}

.bottom-links {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.bottom-links a {
  color: #5f6368;
  margin: 0 10px;
  font-size: 14px;
  text-decoration: none;
}

.bottom-links a:hover {
  text-decoration: underline;
}
